.channel-section {
  display: flex;
  flex-direction: column;
  margin-top: 56px;
  margin-left: 240px;
}

section {
  overflow: hidden;
}

.channel {
  display: flex;
  height: 340px;
  flex-direction: column;
}

.channel-cover {
  min-width: fit-content;
  width: 100%;
  min-height: 192px;
  display: flex;
  background-repeat: repeat-x;
}

.channel-cover > img {
  background-repeat: repeat-x;
  width: 100%;
  min-width: fit-content;
}

.channel-title {
  display: flex;
  padding: 16px 65px 4px 65px;
  align-items: flex-start;
  gap: 699px;
  background-color: #181818;
}

.channel-profile {
  display: flex;
  padding-right: 0px;
  align-items: flex-start;
  gap: 10px;
  color: var(--white-color, #fff);
}

.profile-pic {
  display: flex;
  width: 80px;
  height: 80px;
  justify-content: center;
  padding-right: 24px;
}

.profile-pic > img {
  border-radius: 80px;
  opacity: 0.6499999761581421;
}

.channel-profile-desc {
  display: flex;
  width: 143px;
  padding: 18px 0px;
  flex-direction: column;
  align-items: flex-start;
}

.channel-profile ul > li {
  line-height: normal;
}

.channel-profile-name {
  font-size: 24px;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
  display: flex;
}

.channel-subscribes {
  color: var(--gray-color, #aaa);
  font-size: 14px;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
  vertical-align: bottom;
}

.channel-subscribes-btn {
  display: flex;
  width: 124px;
  padding: 22px 4px;
  flex-direction: column;
  align-items: flex-start;
  gap: 10px;
}

.channel-subscribes-btn > button {
  display: flex;
  padding: 10px 16px;
  align-items: flex-start;
  gap: 10px;
  border-radius: 2px;
  background: #c00;
  border: none;

  color: var(--white-color, #fff);
  font-family: Roboto;
  font-size: 14px;
  font-style: normal;
  font-weight: 700;
  line-height: normal;

  text-transform: uppercase;
}

.channel-subscribes-btn > button:hover {
  cursor: pointer;
  opacity: 0.85;
}

/*toolbar*/
.channel-toolbar {
  display: flex;
  flex-direction: row;
  padding: 0px 65px;

  gap: 24px;
  background-color: #181818;
  height: 48px;
  /* width: 100%; */
}

.channel-toolbar-menu ul {
  display: flex;
  flex-direction: row;
  gap: 24px;
  color: var(--gray-color, #aaa);
  font-family: Roboto;
  font-size: 14px;
  font-style: normal;
  font-weight: 700;
  line-height: normal;
  text-transform: uppercase;
}

.channel-toolbar-menu li {
  display: flex;
  padding: 16px 32px 15px 32px;
  align-items: flex-start;
  gap: 10px;
}

.channel-toolbar-menu li:hover {
  color: white;
}

.channel-toolbar-menu li:first-child {
  color: white;
  border-bottom: solid 2px #aaaaaa;
}

.channel-toolbar-search {
  display: flex;
}

.channel-toolbar-search > span {
  display: flex;
  padding: 12px 8px;
  align-items: flex-start;
  color: #aaaaaa;
}

.channel-toolbar-search > input {
  display: flex;
  padding-left: 0px;
  align-items: flex-start;
  gap: 202px;
  outline: none;
  border: none;
  appearance: none;
  -webkit-appearance: none;
  background-color: #181818;
}

.leftArrow {
  display: flex;
  padding: 12px;
  align-items: center;
  gap: 10px;
  border: none;
  background-color: #181818;
  cursor: pointer;
  color: #aaaaaa;
}

/* channel-section */
.channel-section {
  background-color: black;
}

.small-video {
  display: inline-flex;
  align-items: flex-start;
  width: 848px;
  height: 238px;
  padding: 24px 287px 24px 65px;
}

.small-video-desc {
  padding-bottom: 0px;
}

.video-title,
.title,
.time {
  display: flex;
  flex-direction: column;
  gap: 10px;
  padding-bottom: 20px;
}

.time {
  color: var(--gray-color, #aaa);
  font-family: Roboto;
  font-size: 13px;
  font-style: normal;
  font-weight: 700;
  line-height: normal;
}

.title {
  font-family: Roboto;
  font-size: 14px;
  font-style: normal;
  font-weight: 700;
  line-height: normal;
  letter-spacing: 0.14px;
  color: white;
}

.descriptions {
  color: var(--white-color, #fff);
  font-variant-numeric: stacked-fractions;
  font-feature-settings: "hlig" on, "dlig" on;
  font-family: Roboto;
  font-size: 14px;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
  letter-spacing: 0.14px;
}

.player {
  padding-right: 24px;
  flex-direction: column;
  align-items: flex-start;
  gap: 10px;
}

.player > video {
  width: 424px;
  height: 238px;
}

.video-desc > video {
  width: 214px;
}

.play-list {
  color: var(--white-color, #fff);
  font-family: Roboto;
  font-size: 16px;
  font-style: normal;
  font-weight: 700;
  line-height: normal;
  border-top: 1px solid #303030;
  width: 100%;
  display: flex;
  padding-top: 8px;
  align-items: flex-start;
}

.play-list > p {
  padding: 9px 8px 8px 0px;
  align-items: flex-start;
  gap: 10px;
}

.play-btn {
  display: flex;
  padding: 6px 16px;
  align-items: flex-start;
}

.play-btn > p {
  display: flex;
  padding: 3px 0px 2px 8px;
  align-items: flex-start;
  gap: 10px;
}

.play-btn > * {
  color: var(--gray-color, #aaa);
  font-family: Roboto;
  font-size: 16px;
  font-style: normal;
  font-weight: 700;
  line-height: normal;
  text-transform: uppercase;
}

.video-desc > p {
  color: var(--white-color, #fff);
  font-family: Roboto;
  font-size: 14px;
  font-style: normal;
  font-weight: 700;
  line-height: normal;

  display: flex;
  padding: 8px 0px;
  align-items: flex-start;
  gap: 10px;
}

.video-desc-views {
  color: var(--gray-color, #aaa);
  font-family: Roboto;
  font-size: 12px;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
}

/* content */
.content {
  display: flex;
  padding: 0px 65px;
  flex-direction: column;
  align-items: flex-start;
}

.video-card-container {
  overflow:hidden;
  width: 1090px;
}

.video-card {
  display: flex;
  /*아래코드 살릴시 옆으로 퍼진것들 홈화면처럼
  반응형으로 정렬*/
  /* flex-wrap: wrap;
  flex: 1 1 40%; */
  padding: 24px 0px;
  align-items: flex-start;
  transition:transform 0.3s;
}

.xsamll-video {
  padding-right: 4px;
  display: flex;
  width: 214px;
  flex-direction: column;
  align-items: flex-start;
}

.result {
  justify-content: center;
  display: flex;
  align-items: flex-start;
  padding-top: 20px;
}

.right-arrow-container {
  display: flex;
  height: 118px;
  justify-content: center;
  flex-direction: column;
  position: relative;
  z-index: 1;
  top: -230px;
  left: 1070px;
}

.right-arrow {
  display: flex;
  background-color: #303030;
  border-radius: 50%;
  width: 40px;
  height: 40px;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  position: absolute;
}

.right-arrow .material-symbols-outlined,
.left-arrow .material-symbols-outlined {
  vertical-align: middle;
  color: white;
  font-variation-settings:
  'FILL' 0,
  'wght' 300,
  'GRAD' 0,
  'opsz' 48
}

.left-arrow-container {
  display: flex;
  height: 118px;
  justify-content: center;
  flex-direction: column;
  position: relative;
  z-index: 1;
  top: -345px;
  right: 20px;
  visibility: hidden;
}

.left-arrow {
  display: flex;
  background-color: #303030;
  border-radius: 50%;
  width: 40px;
  height: 40px;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  position: absolute;
}

