.home-body {
    display: flex;
    justify-content: center;
}

.section {
    display: flex;
    width: 100%;
    float: right;
    padding: 0;
    gap: 40px 16px;
    background-color: black;
}

.thumbnail-box {
    display: flex;
    float: center;
    padding: 24px;
    gap: 16px;
    flex-wrap: wrap;
}

.thumbnail {
    width: 276px;
    height: 247px;
    padding: 0 0 18px 0;
}

.thumbnail-item {}

.thumbnail-item-image>img {
    width: 276px;
    height: 155px;
    cursor: pointer;
}

.thumbnail-desc {
    display: flex;
    padding: 0;
}

.thumbnail-profile-pic {
    height: 100%;
    padding: 12px 12px 26px 0px;
}

.thumbnail-profile-pic>img {
    width: 36px;
    height: 36px;
    cursor: pointer;
}

.thumbnail-pic {
    width:276px;
    height: 155px;
}

.thumbnail-desc-title {
    padding-top: 12px;
    color: white;
    font-size: 12px;
    font-style: normal;
    font-weight: 700;
    line-height: normal;
}

.thumbnail-desc-info {
    color: gray;
    font-size: 12px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
}

.thumbnail-desc-box {
    display: flex;
    gap: 6px;
    flex-direction: column;
    width: 204px;
    height: 74px;
}

section {
    width: 100%;
    position: relative;
}

.top-menu {
    display: flex;
    position: relative;
    width: 100%;
    border-top: 1px solid #aaaaaaa9;
    border-bottom: 1px solid #aaaaaaa9;
    background-color: #212121;
    overflow: hidden;
}

.top-menu-item > ul > li:first-child {
    padding: 12px 12px 12px 24px;
}

.top-menu-item > ul {
    display: flex;
}

.top-menu-item > ul > li {
    flex-wrap: nowrap;
    display: flex;
    padding: 12px 12px 12px 0px;
    flex-direction: column;
    align-items: flex-start;
    gap: 10px;

    color: var(--white-color, #FFF);
    font-family: Roboto;
    font-size: 14px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
}

.top-menu-item > ul > li > span {
    display: flex;
    padding: 8px 12px;
    flex-direction: column;
    align-items: flex-start;
    gap: 10px;
    
    border-radius: 32px;
    border: 0.3px solid var(--gray-color, #AAA);
    background: var(--border-color, #303030);
}


.top-menu-item li > span:hover {
    background-color: white;
    color: #030303;
    cursor: pointer;
}

.top-menu-icon {
    display: flex;
    align-items: center;
    position: absolute;
    right: 0; 
}

.top-menu-icon-leftBotton {
    border: none;
    color: #FFFFFF;
    opacity: 0.7;
    padding: 20px;
    background: rgba(33, 33, 33, 0.90);
    cursor: pointer;
}
