* {
  margin: 0;
}

.nav {
  width: 100%;
  height: 56px;
  background-color: #212121;
  align-items: center;
  display: flex;
  justify-content: space-between;
  flex-direction: row;
}

.nav span,
img {
  cursor: pointer;
}

.nav-yt-button {
  display: flex;
  align-items: center;
  padding-left: 10px;
}

.nav-profile {
  display: flex;
  justify-content: flex-end;

  align-items: center;
}

.nav-searchBoxArea {
  display: flex;
  justify-content: center;
  align-items: center;
}

/* nav-yt-button */

.nav-yt-button .yt-button-icon {
  color: white;
}

.yt-button-icon {
  padding: 8px;
  height: 100%;
}

.yt-button-logo {
  padding: 18px 14px 18px 16px;
}

.yt-button-logo > img {
  width: 90px;
  height: 20px;
}

/* end nav-yt-button */

/* searchBoxArea */
.nav-searchBoxArea {
  gap: 4px;
}

.searchBox {
  display: flex;
  border-radius: 2px;
  border: 1px solid #303030;
}

.nav-searchBoxArea > .searchBox > input {
  background-color: #121212;
  width: 362px;
  border: 0;
  color: #aaaaaa;
  text-indent: 6px;
}

.nav-searchBoxArea > input::placeholder {
  color: #aaaaaa;
  padding: 6px 2px;
}

.searchBox-icon > span {
  width: 50px;
  height: 40px;
  background-color: #303030;
  color: white;
  text-align: center;
  line-height: 40px;
  border: 1px solid var(--border-color, #303030);
}

.mic {
  display: flex;
  padding: 8px;
  align-items: flex-start;
  gap: 10px;
  border-radius: 40px;
  background: var(--black, #000);
  color: white;
}

/* end searchBoxArea */

/* nav-profile */
.nav-profile {
  color: white;
  height: 40px;
  gap: 8px;
  padding: 8px;
}

.nav-profile-create,
.nav-profile-apps,
.nav-profile-notifications {
  padding: 10px;
}

.nav-profile-pic {
  display: flex;
  padding: 4px 14px;
  justify-content: center;
}
.nav-profile-pic > img {
  width: 32px;
  height: 32px;
}
