* {
  margin: 0;
}

.nav {
  width: 100%;
  height: 56px;
  background-color: #212121;
  align-items: center;
  display: flex;
  justify-content: space-between;
  flex-direction: row;
  height: 56px;
  position: fixed;
  top: 0;
  right: 0;
  left: 0;
  z-index: 2;
}

.nav span,
label,
img {
  cursor: pointer;
}

.yt-button-icon:hover {
  background-color: #303030;
  border-radius: 25px;
  cursor: pointer;
}

/* 
div#side {
  display: none;
} */
input#menu {
  display: none;
}

input#menu:checked+div#side {
  display: block;
}

.nav-yt-button {
  display: flex;
  align-items: center;
  padding-left: 10px;
}

.nav-profile {
  display: flex;
  justify-content: flex-end;

  align-items: center;
}

.nav-searchBoxArea {
  display: flex;
  justify-content: center;
  align-items: center;
}

/* nav-yt-button */

.nav-yt-button .yt-button-icon {
  color: white;
}

.yt-button-icon {
  padding: 8px;
  align-self: center;
  height: 24px;
}

.yt-button-logo {
  padding: 18px 14px 18px 16px;
}

.yt-button-logo img {
  width: 90px;
  height: 20px;
}

.yt-button-logo>a,
.yt-button-logo>a>img {
  display: flex;
  align-items: center;
}

/* end nav-yt-button */

/* searchBoxArea */
.nav-searchBoxArea {
  gap: 4px;
}

.searchBox {
  display: flex;
  border-radius: 2px;
  border: 1px solid #303030;
}

.nav-searchBoxArea>.searchBox>input {
  background-color: #121212;
  width: 362px;
  border: 0;
  color: #aaaaaa;
  text-indent: 6px;
  outline: none;
}

.nav-searchBoxArea>input::placeholder {
  color: #aaaaaa;
  padding: 6px 2px;
}

.searchBox-icon>span {
  width: 50px;
  height: 40px;
  background-color: #303030;
  color: white;
  text-align: center;
  line-height: 40px;
  border: 1px solid var(--border-color, #303030);
}

.searchBox-Button:hover {
  background-color: #212121;
  border: 1px solid #212121;
}

.mic {
  display: flex;
  padding: 8px;
  align-items: flex-start;
  gap: 10px;
  border-radius: 40px;
  background: var(--black, #000);
  color: white;
}

.mic:hover,
.mic span:hover {
  background-color: #303030;
  cursor: pointer;
  border: none;
}

/* end searchBoxArea */

/* nav-profile */
.nav-profile {
  color: white;
  height: 40px;
  gap: 8px;
  padding: 8px;
}

.nav-profile-create,
.nav-profile-apps,
.nav-profile-notifications {
  padding: 10px;
}

.nav-profile-create:hover,
.nav-profile-apps:hover,
.nav-profile-notifications:hover {
  cursor: pointer;
  background-color: #303030;
  border-radius: 24px;

  font-variation-settings:
    'FILL' 1,
    'wght' 300,
    'GRAD' 0,
    'opsz' 48
}

.nav-profile-pic {
  display: flex;
  padding: 4px 14px;
  justify-content: center;
}

.nav-profile-pic>img {
  width: 32px;
  height: 32px;
}

.nav-profile-pic-list {
  display: flex;
  flex-direction: column;
  position: absolute;
  gap: 10px;
  border-radius: 8px;
  background-color: #303030;
  width: 60px;
  justify-content: center;
  right: 20px;
  padding: 10px;
  z-index: 2;
  top: 10px;
}

.nav-profile-pic-list.active {
  z-index: 2;
  transition: display 0.3s ease, transform 0.3s ease;
}

.nav-profile-pic-list > div {
  justify-content: center;
  display: flex;
  gap: 10px;
  flex-direction: column;
  align-items: center;
  z-index: 2;
  padding: 10px;
}

.nav-profile-pic-list img {
  width: 32px;
  height: 32px;
}

.nav-profile-pic-list > div > p {
  color: #aaaaaa;
  font-size: 12px;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
}

.nav-profile-pic-list > div:hover {
  border-radius: 10px;
  background-color:#212121;
  cursor: pointer;
}

.notificationCount {
  display: flex;
  position: absolute;
  border-radius: 40px;
  background-color: #cc0000;
  justify-content: center;
  align-items: center;
  height: 16px;
  width: 16px;
  font-size: 12px;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
  right: 76px;
  top: 10px;
}

.notificationList {
  display: flex;
  position: absolute;
  right: 70px;
  top: 10px;
  border-radius: 10px;
  background-color: #303030;
  color: #aaaaaa;

  padding: 10px;
  flex-direction: column;
}

.notificationList p {
  font-size: 12px;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
}

.notiHeader {
  padding-bottom: 10px;
  border-bottom: 1px solid #aaaaaa;
}

.notiHeader > p {
  font-weight: 700;
}

.notificationContents {
  display: flex;
  gap: 10px;
  padding-bottom: 10px;
  align-items: center;
}

.notiContent {
  padding-top: 10px;
}

.notiContent > p {
  padding-top: 10px;
}

.notificationContents > .user-avatar {
  height: 24px;
  width: 24px;
}