@import url("http://fonts.googleapis.com/css?family=Roboto:400,300,100,500,700");

::-webkit-scrollbar {
  display: none;
}

.sidebar {
  display: flex;
  width: 240px;
  float: left;
  background-color: #212121;
  padding: 12px 0;
  flex-direction: column;
  justify-content: flex-start;
  align-items: flex-start;
  color: var(--white-color, #fff);
  overflow: scroll;
  position: fixed;
  top: 56px;
  left: 0;
  bottom: 0;
}

.sidebar-top {
  display: flex;
  padding-bottom: 12px;
  flex-direction: column;
  align-items: flex-start;
  border-bottom: 1px solid #303030;
}

.sidebar-top2,
.sidebar-subscriptions,
.sidebar-more-from,
.sidebar-bottom {
  display: flex;
  padding: 12px 0px;
  flex-direction: column;
  align-items: flex-start;
  border-bottom: 1px solid #303030;
}

.material-symbols-outlined {
  font-variation-settings:
  'FILL' 0,
  'wght' 300,
  'GRAD' 0,
  'opsz' 48
}

aside {
  width: 100%;
}
ul {
  padding: 0;
}
li {
  list-style: none;
}

.sidebar-top > ul > li > span,
.sidebar-top2 > ul > li > span,
.sidebar-subscriptions > ul > li > span,
.sidebar-more-from > ul > li > span,
.sidebar-bottom > ul > li > span {
  align-self: center;
}

.sidebar-top > ul > li,
.sidebar-top2 > ul > li,
.sidebar-subscriptions > ul > li,
.sidebar-more-from > ul > li,
.sidebar-bottom > ul > li {
  display: flex;
  gap: 24px;
  align-items: flex-start;
  margin: 0 auto;
  font-size: 14px;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
  padding: 8px 8px 8px 24px;
  width: 100%;
}

.sidebar-top > ul > li:hover,
.sidebar-top2 > ul > li:hover,
.sidebar-subscriptions > ul > li:hover,
.sidebar-more-from > ul > li:hover,
.sidebar-bottom > ul > li:hover {
  background-color: #303030;
  cursor: pointer;
}

.sidebar-subscriptions {
  padding-top: 12px;
}

.sidebar-subscriptions > ul > :first-child,
.sidebar-more-from > ul > :first-child {
  font-weight: 700;
  cursor: default !important;
}

.sidebar-subscriptions > ul > :first-child:hover,
.sidebar-more-from > ul > :first-child:hover {
  font-weight: 700;
  background-color: #212121;
}

.sidebar-subscriptions > ul > li > img {
  width: 24px;
  height: 24px;
}

.sidebar-footer > p {
  padding: 16px 24px 0px 24px;
}

.sidebar-footer span {
  color: var(--gray-color, #AAA);
  font-family: Roboto;
  font-size: 13px;
  font-style: normal;
  font-weight: 700;
  line-height: normal;
}

.sidebar-footer > p:nth-child(1) {
  padding: 12px 24px 0px 24px;
}

.sidebar-footer > p:last-child {
  padding: 16px 24px;
}

.sidebar-footer > p > span {
  padding-right: 8px;
  cursor: pointer;
}
