@import url("http://fonts.googleapis.com/css?family=Roboto:400,300,100,500,700");

* {
  font-family: Roboto;
}

body {
    background: #181818;
}

.video-body {
    margin-top: 56px;
    display: flex;
    justify-content: center;
    background-color: #181818;
    gap: 24px;
}

/* section - primary */
.primary {
  background-color: #181818;
  width: 664px;
  padding: 24px 0px 0px 24px;
  display: flex;
}

section {
  display: flex;
  justify-content: flex-start;
  flex-direction: column;
  width: 640px;
}

.youtube-player > video {
  width: 640px;
  height: 360px;
}

.youtube-title {
  color: white;
  font-size: 14px;
  padding-top: 10px;
  padding-left: 10px;
}

/* section - video-info */
.video-info {
  display: flex;
  padding: 20px 0px 8px 0px;
  flex-direction: row;
  align-items: flex-start;
  flex-direction: column;
}

.video-info .title {
  color: white;
  font-size: 18px;
  padding: 3px 0px 2px 0px;
}

.info {
  display: flex;
  justify-content: center;
  align-items: flex-start;
  gap: 91px;
}

.info-text {
  color: #aaaaaa;
  display: flex;
  padding: 12px 0px;
  gap: 10px;
}

.info-text span {
    font-size: 14px;
    font-style: normal;
    font-weight: 700;
    line-height: normal;
}

.info.top-level {
  display: flex;
  align-items: flex-start;
  gap: 8px;
}

.top-level {
    display: flex;
    gap: 8px;
}

.video-like,
.video-dislike,
.video-share,
.video-save,
.video-more {
    display: flex;
    padding: 2px 0px;
}

/* top-level span tag */
.video-like span, 
.video-dislike span,
.video-share span,
.video-save span,
.video-more span {
  padding: 6px;
  color: white;

  width: 24px;
  height: 24px;
}

/* top-level p tag */
.video-like p,
.video-dislike p,
.video-share p,
.video-save p,
.video-more p {
  padding: 10px 6px 10px 0px;
  gap: 10px;
  color: white;

  font-size: 14px;
  font-style: normal;
  font-weight: 700;
  line-height: normal;
  text-transform: uppercase;
  display: inline;
}

/* end section - video-info */

/* section - channel-title */
.video-desc {
  display: flex;

  border-top: 1px solid #303030;
  border-bottom: 1px solid #303030;
  flex-direction: column;

  padding-bottom: 16px;
}

.channel-title {
  display: flex;
  height: 51px;
  align-items: flex-start;
  padding-top: 16px;
}

.channel-title p {
    font-size: 14px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
}

.profile-pic {
  display: inline-flex;
  padding-right: 16px;
  align-items: flex-start;
  gap: 10px;
}

.user-avatar {
  border-radius: 50%;
  width: 48px;
  height: 48px;
}

.profile-name {
  display: flex;
  padding: 11px 0px 10px 0px;
  flex-direction: column;
  align-items: flex-start;
  color: white;
}

.profile-name .subscribers {
  color: #aaaaaa !important;
}

.subscribes-btn {
  display: flex;
  width: 124px;
  padding: 7px 4px 8px 4px;
  flex-direction: column;
  align-items: flex-start;
  gap: 10px;
  margin-left: auto;
}

.subscribes-btn button {
  width: 116px;
  height: 36px;
  background-color: #cc0000;
  border: none;
  border-radius: 2px;
  color: white;

  font-size: 14px;
  font-style: normal;
  font-weight: 700;
  line-height: normal;
}

.subscribes-btn button:hover {
    cursor: pointer;
}

.video-description {
  color: white;
  display: flex;
  padding: 12px 0px 0px 64px;
  align-items: flex-start;
  gap: 10px;
  font-size: 14px;
}

.video-description > p {
    font-size: 14px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
}

.show-more-btn {
    padding: 8px 0px 0px 64px;
}

.show-more-btn button {
  display: flex;
  align-items: flex-start;
  gap: 10px;
  border: none;
  color: #aaaaaa;

  font-size: 12px;
  font-style: normal;
  font-weight: 700;
  line-height: normal;

  background-color: transparent;
  padding: 0;
}

.show-more-btn button:hover {
    cursor: pointer;
}

/* end section - channel-title */

/* section - comment-area */
.comment-area {
  display: flex;
  flex-direction: column;
  padding: 24px 0px 32px 0px;
  gap: 24px;
}

.short-By-area {
  display: flex;
  align-items: center;
  color: white;
}

.short-By-area span {
  padding-right: 10px;
}

.comment-input-area {
  width: 100%;
  display: flex;
  align-items: center;
}

.comment-inputBox {
    width: 100%;
    border-bottom: 1px solid #303030;
    padding: 7px 0px 8px 0px;
    gap: 4px;
}

.comment-inputBox input {
  width: 100%;
  border: none;
  background-color: transparent;
  outline: none;
  padding-bottom: 5px;
}

.comment-inputBox input::placeholder {
  color: #aaaaaa;
}

/* section - comment-area */

/* comments */
.comments {
  display: flex;
  align-content: flex-start;
}

.comment {
  display: flex;  
  padding-bottom: 16px;
  color: white;
  width: 100%;
}

.comment-header {
  flex-direction: column;
}

.comment-top {
    padding-bottom: 2px;
}
.comment-name {
  font-size: 13px;
  font-weight: 700;
  padding-bottom: 7px;
}

.published-date {
  color: #aaaaaa;
  font-size: 12px;
  padding-bottom: 7px;
}

.comment-text {
  font-size: 14px;
  padding-bottom: 15px;
  padding: 2px 0px;
}

.comment-toolbar {
  color: #aaaaaa;
  display: flex;
  align-items: center;
  padding-top: 4px;
}

.comment-toolbar span {
  font-size: 12px;
}

.comment-like > span:first-child, 
.comment-dislike > span:first-child {
  padding: 8px;
}

.comment-like > span:last-child,
.comment-dislike > span:last-child {
  padding: 7px 8px 7px 0px;
}

.reply {
  padding: 8px 16px;
  align-items: flex-start;
}


/* end comments */

/* aside */
.secondary {
  width: 426px;
  display: flex;
  padding: 24px 24px 0px 0px;
}

aside {
  width: 100%;
  display: flex;
  flex-direction: column;
}

/* end aside */

/* aside - top-menu */
.top-menu {
    padding: 1px 12px 2px 0px;
}

.top-menu > ul {
  color: white;
  display: flex;
  padding: 8px 8px 8px 0px;
  align-items: flex-start;
  gap: 10px;
}

.top-menu > ul > li {
  flex-wrap: nowrap;
  display: flex;
  padding: 8px 8px 8px 0px;
  align-items: flex-start;
  gap: 10px;
}

.top-menu li > span:hover {
  background-color: white;
  color: #030303;

  background-color: white;
  color: #030303;
  cursor: pointer;
}

.top-menu > ul > li > span {
  display: flex;
  padding: 8px 12px;

  color: #fff;
  border-radius: 32px;
  border: 0.3px solid var(--gray-color, #aaa);
  background: var(--border-color, #303030);
  font-size: 14px;
}

/* end aside - top-menu */

/* aside - thumbnail */
.secondary-thumbnail {
    display: flex;
    padding-top: 8px;
}

.secondary-thumbnail img {
    width: 168px;
    height: 94px;
    padding-right: 8px;
}

.videos {
  display: flex;
  flex-wrap: nowrap;
  flex-direction: column;
}

.video-item {
  padding-bottom: 10px;
}

.video-text {
  color: white;
  display: flex;
  flex-direction: column;
  padding: 7px 0px;
}

.video-text p {
  font-size: 14px;
  color: var(--white-color, #FFF);
  font-size: 14px;
  font-style: normal;
  font-weight: 400;
  line-height: 20px;
  width: 202px;
  word-break: break-all;
}

.channel-desc {
  font-size: 12px;
  color: #aaaaaa !important;
  flex-direction: column;
  padding: 2px 0px;
}

.channel-desc span {
    color: var(--gray-color, #AAA);

    font-size: 12px;
    font-style: normal;
    font-weight: 400;
    line-height: 18px; 
}